<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buelens.mattias.cmtheme.nexus">

    <uses-feature
        android:name="org.cyanogenmod.theme"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hasCode="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/theme_name" />

    <meta-data
        android:name="org.cyanogenmod.theme.name"
        android:value="@string/theme_name" />
    <meta-data
        android:name="org.cyanogenmod.theme.author"
        android:value="@string/theme_author" />

</manifest>
